.user-list {
  list-style-type: none; /* elimina los puntos de la lista */
  padding-left: 0; /* opcional, elimina el espacio extra */
}

.user-item {
  cursor: pointer; /*Al pasar el cursor por el elemento se hace ua mano*/
  padding: 8px; /*Un espaciado de 8 pixles en todos sus lados*/
  transition: background-color 0.2s ease; /** Transición suave al cambiar el color de fondo */
}

.user-item:hover {
  background-color: #eee;
}

.user-item.dark:hover {
  background-color: #555; /* Cambia el color de fondo al pasar el cursor en modo oscuro */
}

.user-item.selected {
  background-color: #4caf50;
  color: white;
}

.user-item.selected:hover {
  background-color: #45a049; /* Cambia el color de fondo al pasar el cursor en modo seleccionado */
}

.share-button-ok{
  background-color: #1e7921;
}

.share-button-ok:hover{
  background-color: #135b15;
}